name: ModelOps (Update Model)
# Requires GitHub Action Secrets: AZURE_STORAGE_CONNECTION_STRING, MONGO_DB_CONNECTION_STRING

on:
  # push:
  workflow_dispatch:

jobs:
  model:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v3 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.0' # install the python version needed
          cache: 'pip'
          
      - name: install python packages
        run: pip install -r requirements.txt
          
      - name: scrape hikr data 
        working-directory: ./spider
        run: scrapy crawl gpx -s CLOSESPIDER_PAGECOUNT=50 -o file.jl

      - name: upload data to mongodb
        working-directory: data
        env:
          MONGO_DB_CONNECTION_STRING: ${{ secrets.MONGO_DB_CONNECTION_STRING }}
        run: python ./transform-validate.py

      - name: build model
        working-directory: model
        env:
          MONGO_DB_CONNECTION_STRING: ${{ secrets.MONGO_DB_CONNECTION_STRING }}
        run: python ./train_model.py

      - name: upload model
        working-directory: model
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
        run: python ./publish_model.py
