name: ModelOps (Update Model)
# Requires GitHub Action Secrets: AZURE_STORAGE_CONNECTION_STRING, MONGO_DB_CONNECTION_STRING

on:
  # push:
  workflow_dispatch:

jobs:
  model:
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v3 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.7' # install the python version needed
          cache: 'pip'
          
      - name: install uv
        uses: astral-sh/setup-uv@v3

      - name: install python packages
        run: uv sync --frozen --all-extras
          
      - name: download raw data
        working-directory: data
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
        run: uv run python ./download_raw_data.py

      - name: collect and curate GPX files
        working-directory: data
        run: uv run python ./collect-curate.py

      - name: upload data to mongodb
        working-directory: data
        env:
          MONGO_DB_CONNECTION_STRING: ${{ secrets.MONGO_DB_CONNECTION_STRING }}
        run: uv run python ./transform-validate.py

      - name: build model
        working-directory: model
        env:
          MONGO_DB_CONNECTION_STRING: ${{ secrets.MONGO_DB_CONNECTION_STRING }}
        run: uv run python ./train_model.py

      - name: upload model
        working-directory: model
        env:
          AZURE_STORAGE_CONNECTION_STRING: ${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}
        run: uv run python ./publish_model.py
